* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}
body {
 background-color: rgba(1, 1, 12, 0.836);
}
p {
  width: 90%;
} 
 .container {
   display:block;
   color: #fff;
   width: 100%;
   margin: 40px auto;
   word-spacing: 1px;
   overflow: hidden;
 }
 img {
  width: 90%;
  border-radius: 4px;
  padding: 0 10px;
}
 .text-section {
   width: 90%;
   margin: 10px;
 }
 .text >h1 {
   font-size: 1.7rem;
   padding: 20px 0;
 }
 
 form {
   margin: 20px 0;
 }
 .sign-up >div {
   margin: 20px 0;
 }
 
 input {
   line-height: 34px;
   border-radius: 4px;
   border: none;
 }
 .input {
   display: block;
   padding-bottom: 2px;
 }
 input[type="tel"],
 input[type="email"],
 input[type="text"],
 textarea,fieldset {
   width: 90%;
 }
 legend {
   text-align: center;
   font-size: 1.5rem;
 }
  div.tel {
position: relative;
  }
  div.tel .two {
    position: absolute;
    top: 0;
    right: 28px;
  }
  textarea {
   border-radius: 4px;
   border: none;
 }
   div.message {
position: relative;
  }
  .text1, .text2 {
    font-size: 10px;
    word-spacing: 0.4px;
  }
  div.message .text2 {
    position: absolute;
    top: 0;
    right: 0px;
    left: 125px;
  }
  .box {
     padding: 10px 0;
  }
  input[type="radio"] {
    margin-right: 5px;
    margin-left: 5px;
  }
  div.btn {
     text-align: right; 
     margin-right: 30px;
  }
  button {
   padding: 8px 15px;
   border: none;
   border-radius: 4px;
   background-color:transparent;
   border: 2px solid #666;
   transition: all 0.5s ease-in-out;
  }
  a {
  color:#fff;
  text-decoration: none;
  font-weight: bold;
  }
  button:hover {
  background-color: rgb(1, 1, 26);
  }
  /* input:valid {
    border: 2px solid rgb(2, 71, 2);
  }
  input:invalid {
    border: 2px solid rgb(172, 5, 5);
  }
  input:focus:invalid {
    border: none;
  } */

  @media (min-width: 360px) {
  .container {
   display:block;
   color: #fff;
   width: 90%;
   margin: 40px auto;
   word-spacing: 1px;
 }
  div.tel {
position: relative;
  }
  div.tel .two {
    position: absolute;
    top: 0;
    right: 35px;
}
    div.message {
  position: relative;
}
  .text1, .text2 {
    font-size: 12px;
    word-spacing: 0.4px;
}
  div.message .text2 {
  position: absolute;
  top: 0;
  right: 0px;
  left: 145px;
  }
  div.btn {
     text-align: right; 
     margin-right: 30px;
  }
}
@media (min-width: 411px){
  div.message {
  position: relative;
  }
  .text1, .text2 {
  font-size: 13px;
  word-spacing: 0.4px;
  }
  div.message .text2 {
  position: absolute;
  top: 0;
  right: 0px;
  left: 170px;
  }
}

@media (min-width: 668px) {
         .container {
   display:flex;
   flex-direction: row-reverse;
   justify-content: center;
   color: #fff;
   max-width: 1120px;
   width: 100%;
   margin: 40px auto;
   word-spacing: 1px;
    }
     div.text-section {
      width:50%;
     }
    div.image{
      max-width: 45%;
      width: 100%;

    }
    img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    }
    
    div.firstN, div.lastN {
      display: inline-block;
      flex-direction: column;
      width: 47%;
    }
  div.tel {
  position: relative;
  }
  div.tel .two {
  position: absolute;
  top: 0;
  right: 44px;
  }
    div.message {
  position: relative;
  }
  .text1, .text2 {
  font-size: 14px;
  word-spacing: 0.4px;
  }
  div.message .text2 {
  position: absolute;
  top: 0;
  right: 0px;
  left: 200px;
  }
  div.btn {
     text-align: right; 
     margin-right: 40px;
  }

}

@media (min-width: 986px) {
.container {
display:flex;
flex-direction: row-reverse;
justify-content: center;
color: #fff;
max-width: 1440px;
width: 100%;
margin: 40px auto;
word-spacing: 1px;
}
div.text-section {
width:50%;
}

img {
width: 100%;
height: 100%;
object-fit: cover;
}
    
div.firstN, div.lastN {
display: inline-block;
flex-direction: column;
width: 47%;
}
div.tel {
position: relative;
}
div.tel .two {
position: absolute;
top: 0;
right: 55px;
}
div.message {
position: relative;
}
.text1, .text2 {
font-size: 18px;
word-spacing: 0.4px;
}
div.message .text2 {
position: absolute;
top: 0;
right: 0px;
left: 20px;
}
div.btn {
text-align: right; 
margin-right: 40px;
}
}

@media (min-width: 1140px) {
.container {
display:flex;
flex-direction: row-reverse;
justify-content: center;
color: #fff;
max-width: 1440px;
width: 100%;
margin: 40px auto;
word-spacing: 1px;
}
div.text-section {
width: 500px;
}
div.image{
max-width: 450px;
width: 100%;
}
img {
width: 100%;
height: 100%;
object-fit: cover;
}
    
div.firstN, div.lastN {
display: inline-block;
flex-direction: column;
width: 47%;
}
div.tel {
position: relative;
}
div.tel .two {
position: absolute;
top: 0;
right: 55px;
}
div.message {
position: relative;
}
.text1, .text2 {
font-size: 16px;
word-spacing: 0.4px;
}
div.message .text2 {
position: absolute;
top: 0;
right: 0px;
left: 290px;
}
legend {
   width: inherit;
   text-align: center;
   font-size: 1.5rem;
 }
div.btn {
text-align: right; 
margin-right: 50px;
}
}